{% extends "layout.html" %} {% block main %}
<main>
  <section
    class="search grid xl:grid-cols-2 sm:grid-cols-1 bg-gradient-to-b from-black to-slate-950"
  >
    <div class="grid place-content-center">
      <h1 class="text-5xl m-6 text-slate-200">Movie Search</h1>
    </div>
    <div class="grid place-content-center">
      <form action="/search" method="post" class="grid grid-cols-2 m-4">
        <input
          class="bg-slate-300"
          type="text"
          placeholder="Search"
          name="search"
          id="search"
        />
        <button
          class="bg-slate-700 text-slate-100 w-7/12 ml-4 hover:bg-slate-100 hover:text-slate-700"
        >
          Search
        </button>
      </form>
    </div>
  </section>
  <section
    class="cards bg-gradient-to-b from-slate-950 to-slate-900 grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 p-10"
  >
    {% for i in list %}
    <div class="cards gap-4 relative grid place-content-center">
      <div
        class="group transition-all sm:w-7 relative card card-z text-slate-300 rounded-xl text-center inline-block my-4 hover:scale-125 duration-100 hover:border-0"
      >
        <div
          class="card-content group-hover:z-50 my-10 relative duration-300 p-2"
        >
          <img class="group-hover:scale-110 grayscale group-hover:grayscale-0
          duration-500 relative rounded-lg group-hover:z-50" src={{i["image"]}}
          alt="Movie Logo" />
          <h4
            class="m-2 absolute duration-300 group-hover:z-50 transition-all -translate-y-7 bg-slate-900 bg-opacity-50 group-hover:-translate-y-20 group-hover:bg-slate-900 group-hover:bg-opacity-50"
          >
            {{i["title"]}}
          </h4>
          <div
            class="m-2 absolute flex group-hover:flex-col group-hover:z-50 w-40 descarea duration-300 transition-all group-hover:-translate-y-8 group-hover:bg-slate-900 group-hover:bg-opacity-50 group-hover:visible invisible"
          >
            <p class="">Year:{{i["date"]}}</p>
            <p class=" ">Rate:{{i["vote"]}}</p>
            <form action="/favorites" method="post">
              <input type="text" disabled class="hidden" name="movie_id"
              value={{i["id"]}} >
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
